html {
    background-color: rgb(0, 0, 0);
    margin: 0;
    color: white;
}
body {
   margin: 0px;
}
nav {
    height:900px;
    width: 300px;
    position: fixed;
    margin-top: 0px;
    position:fixed;
    z-index: 4;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-family: "poppins";
  }
  nav ul {
    list-style-type: none;
    margin-top: 80px;
    color:rgb(255, 255, 255);  
    opacity: .7;
  }
  a{
    color:rgb(247, 242, 202);
    vertical-align: middle;
    text-decoration: none;
    margin-left: 60px;
    padding: 10px;
    font-size: 15px;
    opacity: 1;
   
    
      }
li img {
    position:absolute;
    }

header {
    position:fixed;
    width: 1700px;   
    height: 50px;
    background-color: rgba(0, 0, 0, 0.212);
    z-index: 2;
    opacity: .7;
    font-size: 25px;
   }
h5{
    margin-top: 10px;
    margin-left: 100px;
    position: fixed;
    opacity: 1;
    color: white;
    font-size: 30px;
    font-family: "poppins";
    z-index: 3;
        }
.media {
    z-index: 4;
}

 #border2 {
    height: 1000px;
    width: 250px;
    position: fixed;
    opacity: 1;
    z-index: 3;
    font-size: 40px;
    background-color: rgb(4, 4, 4);
}
div h4 {
    height: 300px;
    width: 570px;
    padding: 15px;
    text-align: center;
    z-index: 1; 
    font-family: "poppins"; 
}
#spotifytext {
    margin-left: 90px;
    margin-top: 15px;
    position: fixed;
}
#spotify {
    margin-left: 35px;
    margin-top: 10px;
    position: fixed;
    z-index: 4;
}
h6 {
    position: fixed;
    text-align: right;
    margin-left: 1000px;
    font-family: "poppins";
    font-size: 15px;
    height: 50px;
        }
    form {
        color: #e8d5a2;
        display: flex;
        padding: 2px;
       margin-top: 5px;
      }
      input {
        margin-left: 1250px;
        margin-top: 1px;
        opacity: 1;
        font-size: 14px;
        font-family: "poppins";
    }
      input[type="search"] {
        border: none;
        background: rgba(214, 214, 153, 0.606)   ;
        padding: 7px 8px;
        color: inherit;
        border: 1px solid transparent;
        border-radius: 20px;
      }
      
      input[type="search"]::placeholder {
        color: #ffffff;
              }
             button[type="submit"] {
                text-indent: -999px;
                width: 40px;
                border: 1px solid transparent;
                  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath fill='%23FFFFFF' opacity='1.000000' stroke='none' d='%0AM513.000000,462.000000 C513.000000,469.354248 513.000000,476.708496 512.689941,484.239716 C511.321411,485.933258 510.463837,487.653015 509.170349,488.931885 C502.993622,495.038788 496.709686,501.037659 490.439362,507.049377 C488.330048,509.071686 486.148499,511.018585 484.000000,513.000000 C476.979034,513.000000 469.958099,513.000000 462.467041,512.630005 C460.938782,510.985901 459.970612,509.622345 458.808105,508.451721 C449.786652,499.367706 440.769135,490.278992 431.667511,481.275482 C424.178772,473.867493 416.505859,466.645142 409.047943,459.206787 C403.526855,453.700165 398.301941,447.897095 392.797607,442.373016 C385.269226,434.817596 377.490753,427.509552 370.024658,419.894348 C363.036713,412.766785 356.524811,405.165619 349.423187,398.158264 C341.249268,390.092712 332.674530,382.432159 324.231873,374.641205 C322.803619,373.323181 321.223633,371.369202 319.606781,371.257477 C317.564545,371.116394 315.246552,372.274628 313.336517,373.374298 C304.470459,378.478790 296.065643,384.556244 286.799316,388.744537 C277.817322,392.804291 267.979828,394.965088 258.531555,398.001953 C253.506256,399.617157 248.612854,401.855347 243.473648,402.849762 C237.083282,404.086304 230.499786,404.898865 224.000900,404.891144 C205.752380,404.869415 187.503387,404.378204 169.257401,403.952087 C166.351242,403.884247 163.380493,403.489929 160.577164,402.735413 C154.093109,400.990173 147.684937,398.959198 141.262268,396.990906 C136.523376,395.538696 131.729141,394.213196 127.111557,392.436279 C123.507515,391.049377 120.124664,389.079865 116.665802,387.325317 C111.231163,384.568604 105.781975,381.837585 100.401070,378.978760 C95.279442,376.257660 89.679108,374.066528 85.271324,370.446594 C74.588242,361.672943 64.349411,352.340942 54.195908,342.948151 C49.974911,339.043396 46.180244,334.602631 42.644302,330.053802 C39.189808,325.609741 36.334496,320.702148 33.174706,316.026062 C30.146763,311.545135 26.564436,307.356720 24.120384,302.581787 C20.027515,294.585663 16.650848,286.223267 12.963416,278.019196 C8.341719,267.736481 4.080162,257.349884 2.920508,245.968658 C2.847754,245.254623 1.665874,244.653595 1.000000,244.000000 C1.000000,216.312439 1.000000,188.624878 1.364548,160.770050 C2.071637,160.246552 2.693578,159.906693 2.715552,159.531693 C3.176342,151.668350 6.584280,144.665039 8.788574,137.284622 C12.366888,125.303696 17.602175,114.173088 23.381857,103.224281 C26.004379,98.256287 28.636654,93.210739 31.959448,88.713875 C37.375439,81.384232 43.058159,74.199867 49.187653,67.463104 C55.983852,59.993599 63.134396,52.789730 70.656677,46.058006 C75.493271,41.729721 81.221581,38.376427 86.653175,34.739914 C93.393570,30.227142 99.923744,25.248718 107.117729,21.601727 C117.120445,16.530842 127.436432,11.869431 138.033539,8.247657 C146.038147,5.511926 154.703613,4.727968 163.045975,2.940135 C164.119934,2.709979 165.019592,1.666642 166.000000,1.000000 C189.354233,1.000000 212.708450,1.000000 236.539032,1.431006 C242.820389,3.242240 248.613281,4.676424 254.434860,5.982900 C258.052917,6.794859 262.165680,6.583678 265.272125,8.273492 C274.787140,13.449351 285.768646,14.949519 294.991150,20.865795 C300.218262,24.219007 306.388428,26.099798 311.624939,29.441263 C317.453583,33.160549 322.653625,37.853500 328.217926,42.001060 C336.625305,48.267796 344.699158,54.890285 351.470886,62.959652 C353.413422,65.274414 355.214539,67.708710 357.177460,70.005318 C360.066315,73.385216 363.413422,76.437950 365.896790,80.085251 C369.966675,86.062744 372.834351,92.966133 377.444000,98.438835 C382.135651,104.008911 384.315125,110.551476 387.320831,116.807114 C388.842804,119.974716 390.048950,123.301872 391.273285,126.603111 C394.221222,134.551727 397.332916,142.451599 399.917450,150.518875 C401.675018,156.004745 403.029724,161.683411 403.891907,167.377716 C405.229187,176.209457 406.526215,185.108383 406.854492,194.015167 C407.203430,203.482071 407.545410,212.960266 405.189117,222.451172 C403.131989,230.737152 403.201080,239.533875 401.408508,247.907516 C399.639374,256.171936 396.768158,264.205536 394.272888,272.307281 C392.954956,276.586365 391.989227,281.116577 389.854462,284.974518 C383.628265,296.226471 376.867706,307.182037 370.432281,318.320618 C370.097626,318.899780 370.563843,320.339691 371.120789,320.967804 C373.672180,323.845398 376.329834,326.635803 379.057251,329.349030 C387.011902,337.262329 395.037170,345.104645 402.998627,353.011139 C410.356232,360.317932 417.691864,367.647278 424.990662,375.012787 C430.488281,380.560669 435.879852,386.213593 441.376953,391.761963 C448.982513,399.438416 456.697296,407.007233 464.263641,414.721802 C471.141785,421.734711 477.782898,428.981659 484.716339,435.938232 C490.949219,442.191986 497.382355,448.250275 503.837555,454.276550 C506.753662,456.998901 509.937592,459.434387 513.000000,462.000000 M68.000000,191.532593 C68.520813,202.152740 66.299484,212.845749 69.869415,223.409378 C72.171341,230.220901 73.117531,237.481400 74.882690,244.487442 C75.740295,247.891312 76.714027,251.359314 78.285461,254.469757 C81.214066,260.266571 84.372131,265.981628 87.886787,271.439545 C92.240540,278.200500 96.523697,285.134521 101.821373,291.123322 C106.885872,296.848450 113.024719,301.771942 118.564339,307.004700 C127.348778,315.302490 137.975555,319.933807 147.942825,325.752502 C154.572205,329.622589 162.487656,331.729004 170.097977,333.371155 C180.210358,335.553101 190.547592,337.181702 200.861618,337.777588 C208.390015,338.212555 216.101913,337.971985 223.573532,335.170532 C229.228775,333.050140 235.490051,332.610291 241.347946,330.950653 C249.386917,328.673004 256.846344,325.078735 264.410278,321.417328 C273.551971,316.992157 281.361389,311.197876 289.000153,304.928406 C293.860596,300.939240 298.571777,296.651154 302.715607,291.939301 C306.722260,287.383423 309.394104,281.608063 313.586273,277.271240 C320.323273,270.301788 322.781067,261.219391 326.858185,252.970200 C329.018555,248.599121 329.765594,243.518906 331.065674,238.735718 C333.081726,231.318359 336.576233,223.899841 336.665497,216.448517 C336.833679,202.411041 339.258179,188.117813 334.110870,174.260620 C331.890137,168.282181 330.831940,161.870483 329.274933,155.648270 C329.000427,154.551239 329.128601,153.285187 328.632843,152.322800 C325.224243,145.705872 321.897980,139.032669 318.143646,132.612411 C315.512848,128.113541 312.442902,123.831421 309.211426,119.734604 C305.681274,115.259071 301.940491,110.908424 297.925720,106.866699 C292.825348,101.732101 287.691711,96.520782 281.944794,92.171906 C277.090057,88.498146 271.403900,85.886475 265.970551,83.023270 C259.421600,79.572174 252.918350,75.938141 246.076492,73.171875 C241.221146,71.208786 235.877365,70.340645 230.680161,69.363907 C223.693436,68.050880 216.658966,66.377014 209.606873,66.172501 C199.346680,65.874962 189.010010,65.163628 178.898697,68.840164 C172.763260,71.071037 165.966660,71.414024 159.648041,73.233513 C154.954987,74.584900 150.340820,76.566536 146.071960,78.949066 C140.068390,82.299751 134.401062,86.256874 128.620239,90.001419 C123.747536,93.157722 117.972015,95.554405 114.291496,99.768166 C108.795410,106.060532 101.756920,110.823700 97.537636,118.518822 C92.917297,126.945389 86.194977,134.205704 81.399597,142.554886 C78.267487,148.008163 76.828522,154.460251 74.844193,160.534531 C73.948082,163.277649 73.597382,166.196320 72.952995,169.024811 C71.315910,176.210693 69.652733,183.390610 68.000000,191.532593 z'/%3E%3Cpath fill='%23000000' opacity='1.000000' stroke='none' d='%0AM1.000000,244.468658 C1.665874,244.653595 2.847754,245.254623 2.920508,245.968658 C4.080162,257.349884 8.341719,267.736481 12.963416,278.019196 C16.650848,286.223267 20.027515,294.585663 24.120384,302.581787 C26.564436,307.356720 30.146763,311.545135 33.174706,316.026062 C36.334496,320.702148 39.189808,325.609741 42.644302,330.053802 C46.180244,334.602631 49.974911,339.043396 54.195908,342.948151 C64.349411,352.340942 74.588242,361.672943 85.271324,370.446594 C89.679108,374.066528 95.279442,376.257660 100.401070,378.978760 C105.781975,381.837585 111.231163,384.568604 116.665802,387.325317 C120.124664,389.079865 123.507515,391.049377 127.111557,392.436279 C131.729141,394.213196 136.523376,395.538696 141.262268,396.990906 C147.684937,398.959198 154.093109,400.990173 160.577164,402.735413 C163.380493,403.489929 166.351242,403.884247 169.257401,403.952087 C187.503387,404.378204 205.752380,404.869415 224.000900,404.891144 C230.499786,404.898865 237.083282,404.086304 243.473648,402.849762 C248.612854,401.855347 253.506256,399.617157 258.531555,398.001953 C267.979828,394.965088 277.817322,392.804291 286.799316,388.744537 C296.065643,384.556244 304.470459,378.478790 313.336517,373.374298 C315.246552,372.274628 317.564545,371.116394 319.606781,371.257477 C321.223633,371.369202 322.803619,373.323181 324.231873,374.641205 C332.674530,382.432159 341.249268,390.092712 349.423187,398.158264 C356.524811,405.165619 363.036713,412.766785 370.024658,419.894348 C377.490753,427.509552 385.269226,434.817596 392.797607,442.373016 C398.301941,447.897095 403.526855,453.700165 409.047943,459.206787 C416.505859,466.645142 424.178772,473.867493 431.667511,481.275482 C440.769135,490.278992 449.786652,499.367706 458.808105,508.451721 C459.970612,509.622345 460.938782,510.985901 461.998474,512.630005 C308.425446,513.000000 154.850876,513.000000 1.000000,513.000000 C1.000000,423.645966 1.000000,334.291626 1.000000,244.468658 z'/%3E%3Cpath fill='%23000000' opacity='1.000000' stroke='none' d='%0AM513.000000,461.531372 C509.937592,459.434387 506.753662,456.998901 503.837555,454.276550 C497.382355,448.250275 490.949219,442.191986 484.716339,435.938232 C477.782898,428.981659 471.141785,421.734711 464.263641,414.721802 C456.697296,407.007233 448.982513,399.438416 441.376953,391.761963 C435.879852,386.213593 430.488281,380.560669 424.990662,375.012787 C417.691864,367.647278 410.356232,360.317932 402.998627,353.011139 C395.037170,345.104645 387.011902,337.262329 379.057251,329.349030 C376.329834,326.635803 373.672180,323.845398 371.120789,320.967804 C370.563843,320.339691 370.097626,318.899780 370.432281,318.320618 C376.867706,307.182037 383.628265,296.226471 389.854462,284.974518 C391.989227,281.116577 392.954956,276.586365 394.272888,272.307281 C396.768158,264.205536 399.639374,256.171936 401.408508,247.907516 C403.201080,239.533875 403.131989,230.737152 405.189117,222.451172 C407.545410,212.960266 407.203430,203.482071 406.854492,194.015167 C406.526215,185.108383 405.229187,176.209457 403.891907,167.377716 C403.029724,161.683411 401.675018,156.004745 399.917450,150.518875 C397.332916,142.451599 394.221222,134.551727 391.273285,126.603111 C390.048950,123.301872 388.842804,119.974716 387.320831,116.807114 C384.315125,110.551476 382.135651,104.008911 377.444000,98.438835 C372.834351,92.966133 369.966675,86.062744 365.896790,80.085251 C363.413422,76.437950 360.066315,73.385216 357.177460,70.005318 C355.214539,67.708710 353.413422,65.274414 351.470886,62.959652 C344.699158,54.890285 336.625305,48.267796 328.217926,42.001060 C322.653625,37.853500 317.453583,33.160549 311.624939,29.441263 C306.388428,26.099798 300.218262,24.219007 294.991150,20.865795 C285.768646,14.949519 274.787140,13.449351 265.272125,8.273492 C262.165680,6.583678 258.052917,6.794859 254.434860,5.982900 C248.613281,4.676424 242.820389,3.242240 237.007690,1.431006 C328.945374,1.000000 420.890747,1.000000 513.000000,1.000000 C513.000000,154.354187 513.000000,307.708435 513.000000,461.531372 z'/%3E%3Cpath fill='%23000000' opacity='1.000000' stroke='none' d='%0AM165.531342,1.000000 C165.019592,1.666642 164.119934,2.709979 163.045975,2.940135 C154.703613,4.727968 146.038147,5.511926 138.033539,8.247657 C127.436432,11.869431 117.120445,16.530842 107.117729,21.601727 C99.923744,25.248718 93.393570,30.227142 86.653175,34.739914 C81.221581,38.376427 75.493271,41.729721 70.656677,46.058006 C63.134396,52.789730 55.983852,59.993599 49.187653,67.463104 C43.058159,74.199867 37.375439,81.384232 31.959448,88.713875 C28.636654,93.210739 26.004379,98.256287 23.381857,103.224281 C17.602175,114.173088 12.366888,125.303696 8.788574,137.284622 C6.584280,144.665039 3.176342,151.668350 2.715552,159.531693 C2.693578,159.906693 2.071637,160.246552 1.364548,160.301392 C1.000000,107.071640 1.000000,54.143276 1.000000,1.000000 C55.687374,1.000000 110.375031,1.000000 165.531342,1.000000 z'/%3E%3Cpath fill='%23000000' opacity='1.000000' stroke='none' d='%0AM484.468658,513.000000 C486.148499,511.018585 488.330048,509.071686 490.439362,507.049377 C496.709686,501.037659 502.993622,495.038788 509.170349,488.931885 C510.463837,487.653015 511.321411,485.933258 512.689941,484.708344 C513.000000,494.261078 513.000000,503.522186 513.000000,513.000000 C503.646881,513.000000 494.292114,513.000000 484.468658,513.000000 z'/%3E%3Cpath fill='%23000000' opacity='1.000000' stroke='none' d='%0AM68.000000,191.052765 C69.652733,183.390610 71.315910,176.210693 72.952995,169.024811 C73.597382,166.196320 73.948082,163.277649 74.844193,160.534531 C76.828522,154.460251 78.267487,148.008163 81.399597,142.554886 C86.194977,134.205704 92.917297,126.945389 97.537636,118.518822 C101.756920,110.823700 108.795410,106.060532 114.291496,99.768166 C117.972015,95.554405 123.747536,93.157722 128.620239,90.001419 C134.401062,86.256874 140.068390,82.299751 146.071960,78.949066 C150.340820,76.566536 154.954987,74.584900 159.648041,73.233513 C165.966660,71.414024 172.763260,71.071037 178.898697,68.840164 C189.010010,65.163628 199.346680,65.874962 209.606873,66.172501 C216.658966,66.377014 223.693436,68.050880 230.680161,69.363907 C235.877365,70.340645 241.221146,71.208786 246.076492,73.171875 C252.918350,75.938141 259.421600,79.572174 265.970551,83.023270 C271.403900,85.886475 277.090057,88.498146 281.944794,92.171906 C287.691711,96.520782 292.825348,101.732101 297.925720,106.866699 C301.940491,110.908424 305.681274,115.259071 309.211426,119.734604 C312.442902,123.831421 315.512848,128.113541 318.143646,132.612411 C321.897980,139.032669 325.224243,145.705872 328.632843,152.322800 C329.128601,153.285187 329.000427,154.551239 329.274933,155.648270 C330.831940,161.870483 331.890137,168.282181 334.110870,174.260620 C339.258179,188.117813 336.833679,202.411041 336.665497,216.448517 C336.576233,223.899841 333.081726,231.318359 331.065674,238.735718 C329.765594,243.518906 329.018555,248.599121 326.858185,252.970200 C322.781067,261.219391 320.323273,270.301788 313.586273,277.271240 C309.394104,281.608063 306.722260,287.383423 302.715607,291.939301 C298.571777,296.651154 293.860596,300.939240 289.000153,304.928406 C281.361389,311.197876 273.551971,316.992157 264.410278,321.417328 C256.846344,325.078735 249.386917,328.673004 241.347946,330.950653 C235.490051,332.610291 229.228775,333.050140 223.573532,335.170532 C216.101913,337.971985 208.390015,338.212555 200.861618,337.777588 C190.547592,337.181702 180.210358,335.553101 170.097977,333.371155 C162.487656,331.729004 154.572205,329.622589 147.942825,325.752502 C137.975555,319.933807 127.348778,315.302490 118.564339,307.004700 C113.024719,301.771942 106.885872,296.848450 101.821373,291.123322 C96.523697,285.134521 92.240540,278.200500 87.886787,271.439545 C84.372131,265.981628 81.214066,260.266571 78.285461,254.469757 C76.714027,251.359314 75.740295,247.891312 74.882690,244.487442 C73.117531,237.481400 72.171341,230.220901 69.869415,223.409378 C66.299484,212.845749 68.520813,202.152740 68.000000,191.052765 z'/%3E%3C/svg%3E");
                border-radius: 100px;              
                     }
              
              button[type="submit"]:hover {
                opacity: 1;
               
              }
      
      button[type="submit"]:hover {
        opacity: 1;
      }
      button[type="submit"]:focus,
      input[type="search"]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
      }
.account {
    margin-top: 15px;
    margin-left: 290px;
    font-size: 14px;
}
#playlist {
    margin-left: 210px;
    margin-top: 160px;
    position:absolute;
    font-size: 20px;
}
#tophits {
    margin-left: 400px;
    margin-top: 150px;
    position:absolute;
    font-size: 120px;
    }
p, #topheader{
margin-left: 460px;
margin-top: 400px;
position:absolute;
font-size: 20px;
font-family: "poppins";
}
p, #likes {
    margin-left: 460px;
    margin-top: 450px;
    position:absolute;
    font-size: 20px;
    font-family: "poppins";
    opacity: .7;
}
.music-list {
    margin-left: 150px; 
    margin-top: 480px;
    position:absolute;
    width: 1250px;
    background-color: black;
}

#topartist {
    margin-left:600px;
    margin-top: 70px;
    opacity: .6 ;
    position: fixed;
    z-index: 0;
    filter: blur(3px);
    }
#play {
    margin-left:460px;
    margin-top: 330px;
    position: absolute;
    }
   
.music-list span {
    font-family: "poppins";
    margin-left: 250px;
    margin-top: 0px;
    height: 60px;
    width: 400px;
    font-size:20px;
    position: absolute;
}
#one p {
    font-family: "poppins";
    margin-left: 250px;
    margin-top: 30px;
    height: 60px;
    position: absolute; 
    width: 400px;
    font-size: 15px;
        } 
article p {
    font-family: "poppins";
    margin-left: 250px;
   font-size: 15px;
   margin-top: 30px;
}
article img {
    position: absolute;
    margin-left: 120px;
}
#one span {
    margin-left: 250px;
}
#one {
    background-color: rgb(49, 17, 190);
    padding: 25px;
    margin: 30px ;
    height: 80px;
    margin-left: 130px;
    }
.music-list .playblack {
    position:absolute;
    margin-left: 10px;
}
.playblack {
    margin-left: 120px;
    margin-top: 15px;
    position: absolute;
}
.one-playblack {
    margin-left: 10px;
    margin-top: 15px;
    position: absolute;
}

#two {
    background-color: rgb(153, 28, 203);
    padding: 25px;
    margin: 30px;
    height: 80px;
    margin-left: 130px; 
}
#three {
    background-color: rgb(17, 187, 190);
    padding: 25px;
    margin: 30px;
    height: 80px;
    margin-left: 130px; 
}
#four
 {
    background-color: rgb(190, 17, 135);
    padding: 25px;
    margin: 30px;
    height: 80px;
    margin-left: 130px; 
}
#five {
    background-color: rgb(49, 17, 190);
    padding: 25px;
    margin: 30px ;
    height: 80px;
    margin-left: 130px; 
}
